In [17]:
import sklearn
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn import model_selection
from sklearn.model_selection import KFold
from sklearn import preprocessing
from sklearn import tree
from sklearn import linear_model
from sklearn import naive_bayes
from sklearn import neighbors
from sklearn.neighbors.nearest_centroid import NearestCentroid
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_curve,roc_auc_score,precision_score,recall_score,auc

In [18]:
dataSet = pd.read_csv('data/train_clean.csv')
dataSet.fillna(dataSet.mean())

,CUST_COD,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,BIRTH_DATE,PAY_DEC,PAY_NOV,PAY_OCT,PAY_SEP,...,BILL_AMT_SEP,BILL_AMT_AUG,BILL_AMT_JUL,PAY_AMT_DEC,PAY_AMT_NOV,PAY_AMT_OCT,PAY_AMT_SEP,PAY_AMT_AUG,PAY_AMT_JUL,DEFAULT PAYMENT JAN
0,53613503,1490.680,M,university,single,NaN,0,0,0,0,...,629.156401,599.283174,608.257067,89.440800,149.068000,68.571280,0.000000,29.813600,59.627200,0
1,35524089,5664.584,M,university,married,04/01/1983,0,0,0,0,...,533.872135,-2.772665,-14.399969,149.068000,159.830710,29.813600,0.000000,0.000000,0.000000,1
2,58777007,6260.856,F,high school,married,02/01/1975,0,0,-1,-1,...,-19.349026,-19.349026,-19.349026,59.627200,532.590150,16.963938,0.000000,0.000000,29.813600,0
3,26913418,8944.080,F,graduate school,married,15/01/1977,-2,-2,-2,-2,...,88.546392,70.330282,253.177091,80.556347,217.221890,88.784901,70.628418,298.463950,216.416922,0
4,41993633,3577.632,F,graduate school,married,09/01/1978,-1,-1,-1,-1,...,0.000000,569.439760,0.000000,119.254400,29.813600,0.000000,569.439760,0.000000,0.000000,1
5,46414261,2385.088,M,university,single,27/01/1989,2,0,0,0,...,1670.515635,1706.768973,1744.542804,107.716537,92.422160,59.627200,62.608560,65.589920,60.849558,1
6,10438751,596.272,M,university,married,08/01/1985,1,2,0,0,...,591.978842,570.840999,607.273218,0.000000,38.847121,20.571384,25.371374,50.683120,0.000000,1
7,19267237,10732.896,F,university,single,16/01/1983,-1,-1,-1,-1,...,146.444403,34.285640,0.000000,293.962096,254.518703,146.444403,0.000000,0.000000,277.087598,0
8,39470148,1490.680,M,university,single,07/01/1992,2,0,0,0,...,582.080726,1051.466045,479.969146,89.440800,38.757680,19.140331,18.245923,35.537811,17.888160,1
9,24381216,1490.680,F,university,married,19/01/1992,0,0,0,0,...,741.762368,778.075333,801.568450,59.627200,104.496668,59.627200,238.508800,119.254400,108.819640,1
10,25126380,2385.088,M,university,married,12/01/1973,1,2,0,0,...,2198.603932,2256.144180,2265.803786,37.594950,95.820910,89.440800,104.347600,67.557618,89.440800,0
11,30961119,4173.904,F,high school,single,31/01/1982,-1,-1,-1,-1,...,4.501854,0.000000,17.113006,0.000000,75.994866,4.501854,0.000000,17.113006,27.368885,0
12,18897715,5366.448,M,high school,married,28/01/1977,0,0,0,0,...,3733.080110,3913.810154,3400.241080,178.881600,178.881600,131.179840,268.322400,0.000000,119.254400,1
13,12696362,14906.800,F,graduate school,married,06/01/1965,-1,-1,-1,0,...,728.793452,2320.332861,1819.494194,2593.544691,1111.212499,0.000000,1950.644221,36.402406,655.422182,0
14,40407190,894.408,F,university,married,NaN,2,2,2,2,...,633.866950,619.616049,658.314102,119.254400,0.000000,59.627200,0.000000,53.664480,0.000000,1
15,19419760,2086.952,F,university,single,19/01/1992,2,2,-1,2,...,1738.669525,1844.418364,1898.977252,0.178882,1858.669265,0.000000,134.161200,89.440800,74.534000,0
16,35978526,7155.264,F,university,married,04/01/1960,0,0,0,0,...,5994.978315,6431.061842,6090.978107,193.788400,149.068000,1788.816000,520.664710,194.265418,596.331627,0
17,48361974,3577.632,F,graduate school,single,09/01/1987,0,0,0,2,...,337.102375,420.431387,473.171646,89.440800,80.228398,0.000000,89.440800,59.627200,0.000000,1
18,27564131,6857.128,F,graduate school,single,30/01/1987,0,0,-1,-1,...,154.583516,294.945945,344.853911,62.668187,89.440800,178.881600,149.068000,59.627200,59.627200,0
19,45489390,13416.120,M,university,single,15/01/1987,0,0,0,0,...,1305.925121,1875.692830,2430.672994,300.163325,300.372020,298.136000,596.272000,596.272000,155.030720,0
20,34687322,2086.952,F,university,single,15/01/1972,0,0,0,-1,...,2068.616636,897.478801,111.860627,92.422160,47.701760,2818.577744,33.510486,2.981360,92.153838,1
21,49190836,6260.856,F,university,single,26/01/1973,0,0,0,0,...,4769.430660,4124.681746,3350.184046,193.788400,196.799574,151.602156,121.848183,125.813392,825.955974,0
22,34005488,2981.360,F,graduate school,single,22/01/1986,-1,-1,-1,-1,...,0.000000,0.000000,0.000000,1073.080905,82.643299,0.000000,0.000000,0.000000,0.000000,0
23,58996480,5962.720,F,high school,married,16/01/1974,0,0,0,0,...,53.664480,24.417338,26.414850,40.099292,33.033469,19.945298,0.000000,26.414850,71.999844,0
24,41269151,596.272,F,high school,single,04/01/1970,1,2,0,0,...,563.983871,558.021151,511.124358,0.000000,53.664480,47.701760,11.925440,0.000000,0.000000,0
25,54925120,7155.264,F,graduate school,single,01/01/1988,0,0,0,0,...,6190.287209,5892.479158,5775.609846,268.322400,307.288775,268.739790,179.746194,179.298990,179.895262,0
26,56423387,8049.672,F,graduate school,married,06/01/1966,-1,-1,-1,-1,...,104.347600,218.354806,282.215538,0.000000,181.803333,104.347600,218.354806,282.215538,68.452026,0
27,30681904,5962.720,M,university,single,21/01/1984,2,0,0,0,...,0.000000,0.000000,0.000000,226.583360,119.254400,0.000000,0.000000,0.000000,0.000000,1
28,10872689,1490.680,F,graduate school,married,21/01/1983,2,2,2,2,...,1350.138690,1319.430682,1417.606866,102.081766,65.589920,59.627200,0.000000,119.254400,68.571280,1
29,52211921,3577.632,M,university,single,NaN,0,0,0,0,...,1734.048417,994.522069,501.733074,89.440800,84.372488,47.701760,107.328960,8.944080,29.813600,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26854,59345371,2385.088,F,high school,married,01/01/1959,0,0,0,0,...,1291.018321,1218.362578,1209.627193,101.664376,411.427680,106.046975,48.298032,45.316672,53.813548,0
26855,38917017,7453.400,M,high school,married,02/01/1965,-2,-2,-2,-2,...,-0.536645,-0.536645,-0.536645,75.070645,0.000000,0.000000,0.000000,0.000000,0.000000,0
26856,18150248,9540.352,F,university,married,28/01/1970,-1,-1,-1,-1,...,549.405021,3.547818,280.724858,166.658024,253.087650,549.852225,0.000000,280.724858,69.406061,0
26857,30359860,1788.816,F,high school,married,17/01/1968,0,0,0,0,...,1620.726923,1653.402629,1692.428631,59.627200,59.627200,89.440800,59.627200,65.589920,74.534000,0
26858,12501224,1490.680,F,university,married,17/01/1989,2,0,0,0,...,563.178904,902.994317,894.497441,51.398646,54.230938,79.423430,925.920975,31.721670,31.989993,0
26859,16291230,4770.176,M,university,married,28/01/1961,0,0,0,0,...,4621.883154,2356.794894,2417.555010,206.041790,193.788400,127.304072,75.070645,89.261918,0.000000,0
26860,28113457,5962.720,M,university,single,22/01/1984,-1,-1,-1,-1,...,282.364606,331.884995,287.194409,279.144737,331.497418,282.424233,332.123504,287.283850,704.644436,0
26861,41246587,1788.816,F,university,single,15/01/1992,0,0,0,0,...,688.038261,674.324005,714.035720,51.398646,47.701760,29.813600,29.813600,74.534000,38.757680,0
26862,54066738,3875.768,F,NaN,married,12/01/1989,0,0,0,0,...,3649.661658,3716.354681,3786.178132,149.068000,149.068000,149.068000,149.068000,149.068000,119.254400,0
26863,18739212,7155.264,M,graduate school,married,01/01/1978,-1,-1,-1,-1,...,427.586651,340.202990,89.619682,145.788504,124.143830,428.451246,340.202990,89.619682,397.594170,0
26864,33819049,10732.896,F,graduate school,single,16/01/1990,-1,-1,-1,-1,...,150.976070,272.704999,180.908925,1318.774782,650.622193,151.721410,274.046611,181.803333,491.775332,0
26865,56557786,2981.360,F,university,married,03/01/1987,0,0,0,0,...,3311.664874,3197.717295,3141.667727,167.373550,166.956160,163.974800,134.161200,149.068000,178.881600,0
26866,13716505,2683.224,M,university,married,01/01/1975,0,0,0,0,...,1360.692704,1376.642980,1392.772138,81.957586,65.768802,33.182537,33.838436,34.375081,33.808622,0
26867,45450853,596.272,M,high school,single,18/01/1993,-1,-1,-1,0,...,122.623337,116.571176,75.935239,190.628158,204.193346,2.444715,2.325461,1.520494,492.580299,0
26868,11793143,4472.040,F,graduate school,married,31/01/1972,1,-2,-1,-1,...,0.000000,0.000000,0.000000,0.000000,45.078163,0.000000,0.000000,0.000000,0.000000,0
26869,21668582,2086.952,F,high school,married,14/01/1975,0,0,0,0,...,472.962950,445.325743,382.836438,46.896793,40.397428,35.865761,15.383818,14.906800,14.906800,0
26870,25463704,1788.816,F,university,married,12/01/1968,0,0,0,0,...,1544.582989,505.072198,515.626212,59.627200,62.608560,41.739040,17.888160,29.813600,29.813600,1
26871,59280401,12223.576,M,university,married,09/01/1970,-1,-1,-1,-1,...,153.987244,150.081662,92.094210,86.936458,398.876154,154.434448,174.439374,92.094210,186.961086,0
26872,14002717,6260.856,M,graduate school,single,23/01/1976,-1,-1,-1,-1,...,9.689420,9.689420,9.689420,9.689420,9.689420,9.689420,9.689420,9.689420,9.689420,1
26873,52401917,1788.816,M,high school,married,30/01/1962,0,0,0,0,...,892.648998,39.980038,55.930314,596.272000,89.440800,89.440800,29.813600,59.627200,745.340000,0
26874,37920588,8944.080,F,high school,single,28/01/1987,-2,-2,-2,-2,...,5.813652,6.231042,29.515464,841.697555,107.001010,5.813652,6.260856,29.634718,0.000000,1
26875,50590055,8944.080,F,graduate school,single,28/01/1983,-2,-2,-2,-2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
26876,35655121,1490.680,M,university,married,01/01/1978,0,0,0,0,...,548.421172,548.152850,549.166512,59.627200,596.272000,20.869520,19.826044,21.674487,15.055868,0
26877,54066637,1490.680,M,university,single,19/01/1988,0,0,0,0,...,1229.989882,1310.665483,1339.018217,50.683120,59.627200,50.683120,101.366240,53.664480,0.000000,0
26878,38222884,596.272,M,high school,married,29/01/1977,-1,2,2,2,...,0.000000,23.254608,0.000000,11.627304,0.000000,0.000000,23.254608,0.000000,0.000000,0
26879,39910611,298.136,M,university,single,12/01/1981,0,0,0,0,...,288.148444,277.177039,165.614548,68.571280,29.813600,29.813600,29.813600,59.627200,92.243278,0
26880,42336988,2086.952,F,university,married,09/01/1982,-2,-2,-2,-2,...,0.000000,0.000000,0.000000,116.899126,190.956108,0.000000,0.000000,0.000000,0.000000,0
26881,15960532,1490.680,M,university,single,03/01/1979,0,0,0,0,...,1464.742168,1450.670149,0.000000,61.535270,59.776268,40.755191,50.683120,0.000000,0.000000,0
26882,47753376,9838.488,M,high school,married,06/01/1970,0,0,0,0,...,6785.187783,6790.792740,6803.552961,244.769656,241.341092,239.254140,243.726180,250.165918,244.471520,0
26883,30940820,11925.440,F,university,single,14/01/1973,-2,-2,-2,-2,...,14.668291,444.997794,227.358514,548.570240,447.204000,14.668291,447.204000,230.310060,89.440800,0

In [19]:
import datetime
def get_age(date):
    try:
        return (datetime.datetime.today() - datetime.datetime.strptime(date, '%d/%m/%Y')).days//365
    except Exception as e:
        return date
dataSet['AGE'] = dataSet['BIRTH_DATE'].apply(get_age)
dataSet = dataSet.drop('BIRTH_DATE', 1)

# Insert additional feature thanks Batti

In [20]:
pay_cols = ['PAY_JUL', 'PAY_AUG', 'PAY_SEP', 'PAY_OCT', 'PAY_NOV', 'PAY_DEC']

def avg_payments(columns):
    def ret(x):
        retval = 0
        for c in columns:
            retval += x[c]
        return retval / len(columns)
    return ret

for i in range(-2, -7, -1):
    dataSet['AVG_PAY_LAST_{0}'.format(-1*i)] = dataSet.apply(avg_payments(pay_cols[i:]), axis=1)

In [21]:
def get_trend(y):
    N = len(y)
    x = range(N)
    B = (sum(x[i] * y[i] for i in range(N)) - 1./N*sum(x)*sum(y)) / (sum(x[i]**2 for i in range(N)) - 1./N*sum(x)**2)
    return B
    
def get_col_trend(cols):
    def get_cols(x):
        return get_trend([v for v in x.loc[cols]])
    return get_cols

dataSet['PAY_TREND'] = dataSet.apply(get_col_trend(pay_cols), axis=1)

In [22]:
bill_amt_cols = ['BILL_AMT_JUL', 'BILL_AMT_AUG', 'BILL_AMT_SEP', 'BILL_AMT_OCT', 'BILL_AMT_NOV', 'BILL_AMT_DEC']

for i in range(-2, -7, -1):
    dataSet['AVG_BILL_AMT_LAST_{0}'.format(-1*i)] = dataSet.apply(avg_payments(bill_amt_cols[i:]), axis=1)

In [23]:
dataSet['BILL_AMT_TREND'] = dataSet.apply(get_col_trend(bill_amt_cols), axis=1)

In [24]:
dataSet=pd.get_dummies(dataSet)

In [28]:
dataSet=dataSet.astype(float)
dataSet=dataSet.fillna(dataSet.mean())

In [29]:

from sklearn.model_selection import train_test_split
train, test = train_test_split(dataSet, test_size = 0.2)

In [30]:
target = 'DEFAULT PAYMENT JAN'
features = test.columns[test.columns!=target]

In [37]:
x = dataSet[features]
y = dataSet[target]
xTr = train[features]
yTr = train[target]
xTe = test[features]
yTe = test[target]

In [38]:
dt_entropy = tree.DecisionTreeClassifier()

# Evaluation using crossvalidation

In [43]:
dt_entropy = tree.DecisionTreeClassifier('entropy',max_depth=10)
dt_entropy = dt_entropy.fit(x,y)
xval_entropy = model_selection.cross_val_score(dt_entropy, x, y, cv=KFold(n_splits=10, shuffle=True, random_state=1234))
print("Decision Tree (Entropy) Accuracy = %3.2f +/- %.4f" %(np.average(xval_entropy),np.std(xval_entropy)))

Decision Tree (Entropy) Accuracy = 0.81 +/- 0.0082

In [44]:
rf = RandomForestClassifier(n_estimators=100, max_depth=None, min_samples_split=2, random_state=0)
rf = rf.fit(x,y)
rf_eval = model_selection.cross_val_score(rf, x, y, cv=StratifiedKFold(n_splits=10,random_state=52725,shuffle=True))
print("Random Forest\t%4.3f\t%4.3f" % (np.average(rf_eval), np.std(rf_eval)))

Random Forest	0.816	0.006

In [45]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(n_estimators=100, random_state=0)
ada = ada.fit(x,y)
ada_eval = model_selection.cross_val_score(ada, x, y, cv=StratifiedKFold(n_splits=10,random_state=52725,shuffle=True))
print("Ada\t%4.3f\t%4.3f" % (np.average(rf_eval), np.std(rf_eval)))

Ada	0.816	0.006

# Confusion matrix Accuracy f1

In [48]:
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import AdaBoostClassifier
ada2 = AdaBoostClassifier(n_estimators=100, random_state=0)
ada2 = ada2.fit(xTr,yTr)
yPre=ada2.predict(xTe)
conf=confusion_matrix(yTe, yPre)

In [49]:
from sklearn.metrics import f1_score
f1_score(yTe, yPre)

0.49225663716814161

In [51]:
import utils
get_best_threshold(ada2, )